* {
  font-family: 'Playfair Display', serif;
}

.boxed {
  background-color: rgba(0, 0, 0, 0.5);
  width: 700px;
  height: 350px;
  margin: 120px auto;
  border-radius: 25px;
}

.home {
  color: white;
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  width: 100%;
}

.text {
  color: white;
  text-align: center;
  font-size: large;
  font-weight: bold;
  font-style: italic;
  margin: 0% 10% 0% 10%;
  width: 80%;
}